:root 
{
    background-color: black; 
}

.body 
{
    display: flex;
    min-height: 100vh; /* layout takes full height of screen */ 
    flex-direction: column; /* header, main footer */
    margin: 0;
}


.header  /* nested flex container*/ 
{
    display:flex; 
    justify-content: space-between; /* first item - start line, last item-end line*/ 
    background: #1b1e20; 


}

.logo /* child*/ 
{
    display:flex; /*nested nested flex container */ 
    gap: 10px; /* spacing between flex items */
    align-items: center; 

}



/* https://css-tricks.com/snippets/css/typewriter-effect/ */ 
.sitename h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid green; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: green }
  }
  







/* child */ 
.button
{
    font-family: monospace, white; 
    padding:10px; 
    background-color: green; 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;

}



  
