:root /* applies to the entire thing*/ 
{
    background-color: black; 

    /*  define variables in the :root pseudo-class and then use it anywhere the value is needed */ 
    --border-colour: #517428; 

    --button-border: white; 
}

.body /* parent container */
{
    display: flex;
    flex-direction: column; 



    min-height: 100vh; /* layout takes full height of viewport screen */ 
    min-width: 100vw;

}






.header  /* nested flex container*/ 
{
    display:flex; 
    justify-content: space-between; /* first item - start line, last item-end line*/ 
    align-items: center; 

    height: 15vh; /* layout fits on one page - no scrolling necessary*/
    width: 100%; 

    background-color: #1b1e20; 

}

.logo /* container nested inside header  */ 
{
    display:flex; 
    align-items: center; 

    gap: 1rem; /* spacing between flex items */
    margin: 2rem; /* space away from border */ 

    
}



/* https://css-tricks.com/snippets/css/typewriter-effect/ */ 
.sitename h1 
{   

    color: white; 
    font-family: monospace; 

    font-size: clamp(1.5rem, 2.5vw, 4rem); /* built in function that allows text to grow/shrink with viewport*/


    overflow: hidden; /* content not revealed until animation */

    /* make all lengths ems - so it depends on font size */ 
    border-right: .15rem solid green; /* typwriter cursor */
    white-space: nowrap; /*content on a single line */
    margin: 0 auto; /*scrolling effect as the typing happens */
    letter-spacing: .15rem; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
}
  
@keyframes typing /*typing effect*/ 
{
    from { width: 0 }
    to { width: 100% }
}
  
@keyframes blink-caret /* typewriter cursor effect */ 
{
    from, to { border-color: transparent }
    50% { border-color: green }
}
  




.header-btns /* container nested inside header container */ 
{
    display:flex; 
    align-items: center; 


    gap: 1rem; /* use relative sizing instead of absolute - key to responsivity */ 
    margin: 2rem; 

}

#btn /* child of header-btns container*/ 
{

    font-size: clamp(1rem, 2vw, 1.5rem);
    margin: .9rem; 
    padding: .3rem; 

    color: white;     
    background-color: green;
    font-family: monospace;

    border: 2px solid var(--button-border);

    border-radius: 8px; /* thickness remains consistent regardless of button dimensions*/ 
    box-shadow: 0 4px 8px 0 rgba(249, 247, 247, 0.414);

    transition-duration: 0.4s;
    cursor: pointer;

    
}

.github-btn  /* child of header-btns container */
{
    padding: 1rem; 
    margin: 2rem; 





    background-color: green;
    border-radius: 8px; 
    border: 2px solid var(--button-border);
    box-shadow: 0 4px 8px 0 rgba(249, 247, 247, 0.414);

    transition-duration: 0.4s;
    cursor: pointer;


}





.vertical-flex-container /*parent flex for main content */ 
{
    display: flex;
    justify-content:center;

}

.header-1 h2, .header-2 h2
{
    font-size: clamp(1rem, 2vw, 2rem);



    font-family: monospace; 
    text-decoration: underline; 
    color: white; 
    text-align: center; 
}

.column-1, .column-2 /* child of vertical flex container */ 
{
    
    display:flex; 
    flex-direction:column; 
    
    width: 30%;
    height: 65vh; 
    padding: 2rem;

    font-size: clamp(0.5rem, 1vw, 1rem);

    background-color: #1b1e20; 
    border: green solid 5px;
    margin: 2rem; /* spaces it away from header */ 
    
}


.justification /* child of column-1 */ 
{
    background-color: black; 
    color: green; 
    font-family: monospace;


    text-align: center;
    flex-wrap: nowrap; 
    padding: 1rem; 
    flex-shrink:0; 

    overflow:auto; 

}



/* child of column -2 (all the navigation buttons)*/ 
.reflection-btns
{   
    display:flex;
    flex-direction:column; /* aligns them vertically */ 
    align-items: center;
    gap: 2.5rem; 
    margin:3rem; 

    transition-duration: 0.4s;
    cursor: pointer;

}

/* put all the buttons stylistic stuff under here - both reflections and philosophy / and github button*/ 


.grads-btn, .itsupport-btn, .codedojo-btn, .thiswebsite-btn
{
    color: white;     
    background-color: green;
    padding: 0.5rem; 
    font-family: monospace;
    font-size: clamp(1rem, 1vw, 1rem);

    
    text-decoration:none; 

    border-radius: 8px; 
    border: 2px solid var(--button-border);
    border-width: 2px; 
    box-shadow: 0 4px 8px 0 rgba(249, 247, 247, 0.414);

}

#btn:hover, .grads-btn:hover, .itsupport-btn:hover, .codedojo-btn:hover, .thiswebsite-btn:hover, .github-btn:hover
{
    background-color: rgba(0, 0, 0, 0.8);

}




