:root 
{
    background-color: black; 
}

.body  /* parent container */ 
{
    display: flex;
    min-height: 100vh; /* layout takes full height of screen */ 
    flex-direction: column; /* header, main footer */
    margin: 0;
}


.header  /* nested flex container*/ 
{
    display:flex; 
    justify-content: space-between; /* first item - start line, last item-end line*/ 
    background: #1b1e20; 
    align-items: center;
    

}

.logo /* flex item / container */ 
{
    display:flex; /*nested nested flex container */ 
    gap: 10px; /* spacing between flex items */
    align-items: center; 
}



/* https://css-tricks.com/snippets/css/typewriter-effect/ */ 
.sitename h1 
{   
    color: white; 
    font-family: monospace; 
    overflow: hidden; /* content not revealed until animation */
    border-right: .15em solid green; /* typwriter cursor */
    white-space: nowrap; /*content on a single line */
    margin: 0 auto; /*scrolling effect as the typing happens */
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
}
  
@keyframes typing /*typing effect*/ 
{
    from { width: 0 }
    to { width: 100% }
}
  
@keyframes blink-caret /* typewriter cursor effect */ 
{
    from, to { border-color: transparent }
    50% { border-color: green }
}
  

#btn /* child of header container*/ 
{
    color: white;     /* why is certain css attributes being ignored*/ 
    background-color: green;
    padding: 10px; 
    font-family: monospace;
    font-size: 20px;
}





.vertical-flex-container /*parent flex for main content */ 
{
    display: flex;
    flex-direction: row;
}

.header-1 h2, .header-2 h2
{
    font-family: monospace; 
    text-decoration: underline; 
    color: white; 
    font-size: 20px; 
    text-align: center; 
}

.column-1
{
    width: 30%;
    padding: 30px;
    height: 65vh;
    background-color: #1b1e20; 
    border: green solid 5px;
    margin: 50px; /* spaces it away from header */ 

    display:flex; 

}


.justifications-text /* child of column-1 */ 
{
    background-color: black; 
    color: green; 
    font-family: monospace;
    height: 50vh; 
    padding: 20px; 
    width: 30%;
}

.column-2
{
    width: 30%;
    padding: 30px;
    height: 65vh;
    background-color: #1b1e20; 
    border: green solid 5px;
    margin: 50px; /* spaces it away from header */ 

    display:flex; 

}

/* child of column -2 (all the navigation buttons)*/ 