
/* applies to the entire thing, overrides everything*/
:root  {
    background-color: black; 
    font-family: monospace; 

}

/* parent container */
.body {
    display: flex;
    flex-direction: column; 

    min-height: 100vh; /* layout takes full height of viewport screen */ 
    min-width: 100vw;

}

/* nested flex container*/ 
.header  {
    display:flex; 
    justify-content: space-between; /* first item - start line, last item-end line*/ 
    align-items: center; 

    height: 15vh; /* layout fits on one page - no scrolling necessary*/
    width: 100%; 

    background-color: #1b1e20; 

}

/* container nested inside header  */ 
.logo {
    display:flex; 
    align-items: center; 

    margin: 2rem; /* space away from border */ 
}



/* https://css-tricks.com/snippets/css/typewriter-effect/ */ 
.sitename h1 {   
    color: white; 
    font-size: clamp(1.5rem, 2.5vw, 4rem); /* built in function that allows text to grow/shrink with viewport*/

    overflow: hidden; /* content not revealed until animation */

    /* make all lengths ems - so it depends on font size */ 
    border-right: .15rem solid green; /* typwriter cursor */
    white-space: nowrap; /*content on a single line */
    margin: 0 auto; /*scrolling effect as the typing happens */
    letter-spacing: .15rem; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
}

/*typing effect*/ 
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* typewriter cursor effect */ 
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: green }
}
  
/*parent flex for main content */ 
.vertical-flex-container {
    display: flex;
    justify-content:center;

}

.header-1 h2, .header-2 h2{
    font-size: clamp(1rem, 2vw, 3rem);
    color: white; 
    text-decoration: underline; 
    text-align: center; 
}

/* child of vertical flex container */ 
.column-1, .column-2 {
    
    display:flex; 
    flex-direction:column; 
    
    width: 30%;
    height: 65vh; 
    padding: 2rem;


    font-size: clamp(0.8rem, 1vw, 2rem);
    background-color: #1b1e20; 
    border: green solid 5px;
    margin: 2rem; /* spaces it away from header */ 
    overflow: auto; 
}

/* child of column-1 */ 
.justification {
    background-color: black; 
    color: green; 


    text-align: center;
    flex-wrap: nowrap; 
    padding: 1rem; 
    flex-shrink:0; 

    overflow:auto; 

}



/* child of column -2 (all the navigation buttons)*/ 
.button{   
    display:flex;
    flex-direction:column; /* aligns them vertically */ 
    align-items: center;

}

#toggle-btn /* child of header-buttons container*/ {
    font-size: clamp(1rem, 2vw, 3rem);
}

.button > a  /*style all the items inside the flex container */ {
    font-size: clamp(0.8rem, 1.5vw, 2rem);
}

/* style buttons all together = consistency */ 
#toggle-btn, .button>a{ 
    font-family: monospace; 
    background-color: green;
    color: white;  
    text-align:center;
    text-decoration:none;   

    gap: 2.5rem; 
    margin:1rem; 
    padding: 0.5rem; 
    
    border-radius: 8px; 
    border: 2px solid white;
    border-width: 2px; 
    box-shadow: 0 4px 8px 0 rgba(249, 247, 247, 0.414);

    transition-duration: 0.4s;
    cursor: pointer;
}

#toggle-btn:hover, .button>a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}